.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 13px 18px;
  margin-bottom: 16px;
  transition: all 0.3s ease-out;
  cursor: pointer;
  // overflow: hidden;
  border: 1px solid #f0f1f3;
  width: 100%;

  &.expanded {
    .expanded-content {
      max-height: 200px;
      opacity: 1;
      padding-top: 16px;
      transform: translateY(0);
    }
  }

  &:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  }
}

.card-title {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1%;
  text-transform: capitalize;
}

.card-content {
  display: flex;
  position: relative;
  background-color: #fafafa;
  margin-top: 1rem;
}

.server-info {
  display: flex;
  align-items: center;

  .server-icon {
    width: 80px;
    height: 80px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .server-details {
    .server-name {
      font-weight: 600;
      font-size: 1rem;
      line-height: 13.5px;
      letter-spacing: 0px;
      color: #404a60;
      margin: 0 0 4px 0;
    }

    .server-subtitle {
      font-weight: 500;
      font-size: 9.45px;
      line-height: 10.13px;
      letter-spacing: 0px;
    }
  }
}

.divider {
  width: 1px;
  background-color: #858d9d;
  color: #858d9d;
  margin: 0 24px;
}

.server-description {
  flex: 1;
  display: flex;
  align-items: center;

  p {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 1%;
    text-transform: capitalize;
    color: #404A60;
  }
}

.expanded-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
  transform: translateY(-10px);

  p {
    font-size: 16px;
    color: #6b7280;
    line-height: 1.6;
    margin: 0;
  }
}
